[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chillR"]
	path = chillR
	url = https://github.com/cran/chillR
[submodule "decisionSupport"]
	path = decisionSupport
	url = https://github.com/cran/decisionSupport
